[Unit]
Description=Clear Chromium locks on boot (prevents stuck restore session)
After=network.target graphical.target
Before=chromium.service

[Service]
Type=oneshot
ExecStart=/home/haui/fpos_mqtt_ha/chromium_hostname_reset.sh
User=root
RemainAfterExit=yes

# These two lines make logs visible in journalctl
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target graphical.target